asgiref==3.8.1
Django==5.2.1
django-nested-admin==4.1.1
python-dotenv==1.1.0
python-monkey-business==1.1.0
sqlparse==0.5.3
tzdata==2025.2
google-api-python-client
Pillow
google-auth>=2.3.2
google-auth-oauthlib>=0.5.0